<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body>
    <h2>
        Please log in
    </h2>

    <form action="/login" method="post">
        <!-- Use CSRF tokens in your HTML forms! -->
        <input type="hidden" name="csrf_token" value="...." />
        <input type="hidden" name="challenge" value="{{ .challenge }}" />

        <input type="email" name="email" placeholder="Please enter your email address to log in" />
        (it's "foo@bar.com")<br />
        <input type="password" name="password" />
        (it's "foobar")<br />

        <input type="checkbox" name="remember" value="true" />
        <label>Remember me</label>
        <select name="remember_for">
            <option value="3">3 days</option>
            <option value="7">7 days</option>
            <option value="15">15 days</option>
            <option value="30">30 days</option>
        </select><br />
        <input type="submit" value="Log in" />
    </form>

</body>

</html>